DB_URL=jdbc:postgresql://localhost:5432/hiring_system
DB_USER=user-do-database
DB_PASSWORD=senha-do-database

ADMIN_USERNAME=username-do-admin
ADMIN_PASSWORD=senha-do-admin
RH_USERNAME=username-do-rh
RH_PASSWORD=senha-do-rh

JWT_SECRET=senha-secreta-que-tenha-pelo-menos-32-caracteres
JWT_EXPIRATION_SECONDS=3600

FRONTEND_ORIGIN=http://localhost:5173
